<div class="row space-top">
    <div class="col-md-12">
        <h1>Login User</h1>
        <p>Please fill all fields.</p>
    </div>
</div>
<form #form="ngForm" class="main" (ngSubmit)="authService.SignIn(form.value)" autocomplete="off">
    <mat-form-field appearance="fill">
        <mat-label>Enter your email <span class="icon"><mat-icon>email</mat-icon></span> </mat-label>
        <input matInput #email="ngModel" class="form-control" id="email" type="text" name="email"
            placeholder="peter@abv.bg" ngModel required minlength="6" pattern="^([a-zA-Z]+)@([a-zA-Z]+)\.([a-zA-Z]+)$"
            email>
        
        <mat-error *ngIf="email.touched && email.invalid">
            <mat-error *ngIf="email.errors?.['required']">Email is required!</mat-error>
            <mat-error *ngIf="email.errors?.['minlength']">The field must be at least 6 simbols!</mat-error>
            <mat-error *ngIf="email.errors?.['pattern']" >Email must be valid!</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput #password="ngModel" class="form-control" id="password" type="password" name="password"
            id="password" [type]="hide ? 'password' : 'text'" ngModel required minlength="6">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.touched && password.invalid">
            <mat-error *ngIf="password.errors?.['required']">Password is required!</mat-error>
            <mat-error *ngIf="password.errors?.['minlength']">The field must be at least 6 simbols!</mat-error>
        </mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary" style="width: 100%;">Log In</button>
   
</form>
<div>
    <p>Don't have an account? <a routerLink="/register"> Sign Up</a></p>
    
</div>