<div class="cards-header">
  <h1>Welcome to our website!</h1>
  <h2>
    The <span>Bugs</span> team is pleased to welcome you on this website.
  </h2>
  <h2>We are sure that you want to see</h2>
</div>
<div>
  <h3>Last 3 published <span>Bugs</span>: </h3>
  <div class="cards-container" *ngIf="items">
    <marquee behavior="alternate">
      <app-item-list-item *ngFor="let item of items" [item]="item">
    </app-item-list-item>
    </marquee>    
  </div>
  <div class="spinner" *ngIf="!items">
    <h1>Loading...</h1>
    <mat-spinner circle></mat-spinner>
  </div>
</div>