form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
    max-width: 90%;
    padding: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 5px;
    background: rgb(45,87,25);
    background: linear-gradient(90deg, rgba(45,87,25,1) 0%, rgba(85,187,37,1) 30%, rgba(77,217,10,1) 50%, rgba(74,160,34,1) 78%, rgba(45,87,25,1) 100%); 
    box-shadow: 5px 7px 11px -3px rgba(0,0,0,0.53);
-webkit-box-shadow: 5px 7px 11px -3px rgba(0,0,0,0.53);
-moz-box-shadow: 5px 7px 11px -3px rgba(0,0,0,0.53);
}

div p {
    color: rgb(119, 4, 4);
    font-size: small;
}

h1 {
    color: green;
    text-shadow: 0px 1px 1px rgba(174, 190, 26, 0.9);
    font-weight: 600;
}

div a {
    color: #0fe032;
}
mat-error{
    margin: -25px 0px 0px 0px;
}