<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span class="logo">BugsApp<mat-icon>bug_report</mat-icon></span>

    <span class="example-spacer"></span>
    <button *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon" routerLink="/login">
        <mat-icon>person_add</mat-icon>
    </button>
    <button *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon" routerLink="/register">
        <mat-icon>how_to_reg</mat-icon>
    </button>
    <button *ngIf="authService.isLoggedIn" mat-icon-button (click)="authService.SignOut()">
        <mat-icon>person_outline</mat-icon>

    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <div *ngIf="authService.isLoggedIn">
            <img class="avatar mat-elevation-z8"
                [src]="authService.userData.photoURL ?? 'assets/images/blank-profile-picture-973461__340.webp'" />
            <h4 class="name">{{ authService.userData.email }}</h4>
            <p class="designation">Bugs Engineer</p>
        </div>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" color="white" routerLink="/home">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>Home</span>
        </button>
        <button *ngIf="authService.isLoggedIn" mat-button class="menu-button" color="white" routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" color="white" routerLink="/catalog">
            <mat-icon>collections</mat-icon>
            <span>Catalog</span>
        </button>
        <select #type class="selectBtn"  name="type" ngModel required  (change)="(type.value)">
            <option default class="optionBtn" value="beetle" routerLink="/catalog/beetles">BEETLES</option>
            <option class="optionBtn" value="spider" routerLink="/catalog/spiders">SPIDERS</option>
            <option class="optionBtn" value="insect" routerLink="/catalog/insects" >INSECTS</option>
        </select>
        <mat-divider></mat-divider>
        <button *ngIf="authService.isLoggedIn" mat-button class="menu-button" color="white" routerLink="/add">
            <mat-icon>add_box</mat-icon>
            <span>New bug</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>