
h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 0.9em;
    font-weight: 500;
    color: red;
    text-shadow: 0px 1px 1px rgba(174, 190, 26, 0.9);  
}
h2 {
    text-align: center;
    color: red;
}
a.link {
    background: #5aaa2b;;
    padding: 0.2rem 0.5rem;
    right: 30rem;
    font-size: small;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}